{% extends 'base/base.html' %}

{% block titulo %} 
{{titulo}} 
{% endblock %}

{% block Contenidos %}
<h4>{{titulo}}</h4>
<form id="formularioA" class ="formulario bg-dark text-light" method="POST" enctype="multipart/form-data">
<a class="botonVolver btn btn-dark" href="{% url 'juegos' %}"><i class="fas fa-chevron-circle-left"></i></a>
    {% csrf_token %}
    {{formulario.as_p}}
    <input class="boton" type="submit" value="{{titulo}}">
<a href="{% url 'principal' %}">
<input class="boton mt-2" type="button" value="Ver Juegos">
</a>
</form>
<script>
    let url = ''
    fetch(url)
        .then(Response => response.json())
        .then(data => mostrarData(data))
        .catch(error => console.log(error))
  
    const mostrarData = (data) => {
      console.log(data)

    }
  </script>
{% endblock %}