{% extends 'base/base.html' %}

{% block titulo %}
Juegos
{% endblock  %}

{% block Contenidos %}
<div id="tablaP" class ="tabla table-responsive">
<a class="botonVolver1 btn btn-dark" href="{% url 'principal' %}"><i class="fas fa-chevron-circle-left"></i></a> 
<table class="table table-striped table-dark table-hover">
  <thead>
    <tr>
      <th class="fila" scope="col">ID</th>
      <th class="fila" scope="col">Imagen</th>
      <th class="fila" scope="col">Nombre</th>
      <th class="fila" scope="col">Precio</th>
      <th class="fila" scope="col">Cantidad</th>
    </tr>
  </thead>
  <tbody id="tbody">
  {% for carrito in obtenido %}
    <tr>
      <th class="th-id" scope="row">{{carrito.producto.id}}</th>
      <td class="td-juegos"><img src="/media/{{carrito.producto.imagen}}" class="td-juegos" alt=""></td>
      <td class="td-nombre">{{carrito.producto.nombre_juego}}</td>
      <td class="td-precio">{{carrito.producto.precio_juego}}</td>
      <td class="td-cantidad"><input id="cantidadCarrito" type="number">{{carrito.cantidad}}</td>
      <td class="td-borrar"><a class="borrar" href="{% url 'elminar_carrito' carrito.id %}"><i class="fas fa-trash-alt"></i></a></td>
    </tr>
  {% endfor %}    
  </tbody>
</table>

{% for juego in lista_formulario %}
  {{juego}}
{% endfor %}
</div>
<div class="calculo-total">
  <form action="" method="POST">
  {% csrf_token %}
  <button class="btn btn-success" type="submit"><i class="fas fa-shopping-cart"></i> Calcular Total: {{total}}</a></button>
</form>
</div>
{% endblock %}