{% extends 'base/base.html' %}

{% block titulo %}
Juegos
{% endblock  %}

{% block Contenidos %}
<div id="tablaP" class ="tabla table-responsive">
<a class="botonVolver1 btn btn-dark" href="{% url 'principal' %}"><i class="fas fa-chevron-circle-left"></i></a> 
<table class="table table-striped table-dark table-hover">
  <thead>
    <tr>
      <th class="fila" scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
  {% for carrito in lista3 %}
    <tr>
      <th class="th-id" scope="row">4{{carrito[0]}}</th>
    </tr>
  {% endfor %}    
  </tbody>
</table>
</div>
<div class="calculo-total">
  <form action="" method="POST">
  {% csrf_token %}
  <button class="btn btn-success" type="submit"><i class="fas fa-shopping-cart"></i> Calcular Total: {{total}}</a></button>
</form>
</div>
{% endblock %}