{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}" sizes="64x64">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} {% endblock %} | Top Games | Venta de juegos digitales</title>
</head>
<body>
<div id="fondo"></div>
    <div class="contenedor-principal">
        <header class= "encabezado">
            <div class = "container">

                <div class = "logo">
                    <a href="/" class="texto-logo"><h1>Top Games</h1></a>
                </div>
                <form class="busqueda" id="search" action="{% url 'buscarJuegos' %}" method='get'>
                    <input class="barra-busqueda" type="text" placeholder="Buscar juego" name='gameTitle' value=''>
                    <button class="btn-busqueda" type="submit"><i class="fas fa-search"></i></button>
                </form>

                <nav class= "menu" id="menu">
                {% if user.is_authenticated %}
                    <a href= "/juegos"> Juegos </a>                
                    <a href= "/perfil"> Mi perfil </a>
                    <a href="/salir"> Salir </a> 
                {% else %}
                    <a href= "/iniciar-sesion"> Iniciar sesión </a>                
                    <a href= "/registro"> Registrarse </a>
                {% endif %}
                </nav>
            </div>
        </header>
       
    {% block Contenidos %}
    
    {% endblock %} 
    </div> 
    </body>
</html>