{% extends 'base/base.html' %}

{% block Contenidos %}
    <div class='container'>
     
        <div class='contenedor-agregados'>
        <a class="botonVolver1 btn btn-dark" href="{% url 'juegos' %}"><i class="fas fa-chevron-circle-left"></i></a> 
        {% for juego in Juegos %} 
        
            <article class="juegos-box">
                <div class="img-portada">
                <img src="/media/{{juego.imagen}}" class="img-juegos">
                </div>
            <div class= "opciones-agregar">    
                <div class= "info-juego">
                    <h1 class='game-title'>{{juego.nombre_juego}}</h1>
                    <p class='game-price'>Precio: $ {{juego.precio_juego}} CL</p>
                          {% for categoria in Categorias %}
                          {% if categoria.id == juego.categoria_id %}
                          <p>Categoria: {{categoria.nombre_categoria}}</p>
                          {% endif %}
                          {% endfor %}
                    <p class='game-price'>Stock: {{juego.cantidad}}</p>                                  
                </div>
              <div class="opciones-producto"> 
              <a class="borrar btn btn-dark" href="{% url 'eliminarP' juego.id %}"><i class="fas fa-trash-alt"> Eliminar</i></a>
              <a class="borrar btn btn-dark" href="{% url 'modificar_producto' juego.id %}"><i class="fas fa-pen"> Editar</i></a>
              <a class="borrar btn btn-success" href="{% url 'carro' juego.id %}"><i class="fas fa-cart-arrow-down"> Añadir al carrito</i></a>
              </div> 
            </div>    
            </article>
        {% endfor %}
        </div>
    </div>
<div class="d-flex justify-content-center">
<a class="boton1 btn btn-dark" href="{% url 'agregar' %}">
Agregar Juego
</a>
<a class="boton1 btn btn-dark" href="{% url 'categoria' %}">
Agregar Categoria
</a>
</div>
{% endblock %}