{% extends 'base/base.html' %}
{% block titulo %}
    Bienvenido
{% endblock %}

{% block Contenidos %}
<section class = "form-inicio-sesion">
    <article class="card col-md-6 col-sm-10 col-10 offset-md-3 m-auto">
        <section class="card-body">
            <h3 class="card-title text-center">
                Bienvenido
            </h3>
            <form method="POST">
                {%csrf_token%}
                {%for campo in formulario%}
                    <div class="form-group col-md-12">
                        <label for="{{campo.id_for_label}}">{{campo.label}}</label>
                        {{campo}}
                        {%if campo.errors%}
                        <span class= "text-muted">
                            {{campo.errors}}
                        </span>
                        {%endif%}
                    </div>
                {%endfor%}
                <div class="form-group col-md-12">
                    <input id="btn-sesion" type="submit" class="btn btn-primary btn-block" value="Iniciar sesion">
                </div>
            </form>
        </section>
    </article>
</section>

<script>

    let user= document.querySelector('#id_username');
    let pass= document.querySelector('#id_password');

    let datos = {
        "username":user,
        "password":pass
    }

    let url = 'http://localhost:8000/api/usuario/iniciar/';
    
    fetch(url,{
        method: 'POST',
        mode: 'no-cors',
        body: JSON.stringify(datos)
    })
      .then(Response => response.json())
      .then(data => {
          console.log(data);
      })
      .catch(error => console.log(error));

</script>
{% endblock %}

 