{% extends 'base/base.html' %}
{% block Contenidos %}
<body>
<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src=""alt="img-avatar">
            </div>
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">{{user.username}}</h3>
        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="fas fa-ghost"></i> Nombre completo: {{user.get_full_name}}</li>
                <li><i class="far fa-envelope"></i> Correo electronico: {{user.email}}</li>
            </ul>
        </div>
        <div class="redes-sociales">
            <a href="" class="boton-redes facebook"><i class="fab fa-facebook"></i></a>
            <a href="" class="boton-redes twitter"><i class="fab fa-whatsapp"></i></a>
            <a href="" class="boton-redes instagram"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>
</body>
{% endblock %}